
    <div class="row">
        <div class="col">
            <h3> {{(coin.id == -1) ? 'Create' : 'Edit'}} coin </h3>
        </div>
        <div class="col" *ngIf="(coin.id == -1); else edit">
            <button class="btn btn-outline-info float-end" [disabled]="form.pending" (click)="addCoin()">
                <a><i class="oi me-1" data-glyph="plus" title="edit"></i>Add</a>
            </button>
        </div>
        <ng-template #edit>
            <div class="col">
                <button class="btn btn-outline-info float-end" [disabled]="form.pending" (click)="editCoin()">
                    <a><i class="oi me-1" data-glyph="pencil" title="add"></i>Edit</a>
                </button>

                <button class="btn btn-outline-danger float-end me-3"  type="button" data-toggle="modal" data-target="#deleteModal">
                    <a><i class="oi me-1" data-glyph="trash" title="delete"></i>Delete</a>
                </button>
                
            </div>
        </ng-template>
    </div>

    <div class="alert alert-danger d-flex align-items-center mt-5" role="alert" *ngIf="error != ''">
        {{error}}
    </div>
<form [formGroup]="form" class="p-3">
    <div class="row">
        <div class="col">
            <!--Name-->
            <div class="row mb-3">
                <label class="col-form-label">Name</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" placeholder="Coin name" formControlName="name">
                    <span class="form-text text-danger" *ngIf="campoValido('name')">The name is required</span>
                </div>
            </div>
            <!--Acronym-->
            <div class="row mb-3 form-white">
                <label class="form-label">Acronym</label>
                <div class="col-sm-5">
                    <input type="email" class="form-control" placeholder="Acronym" formControlName="acronym">
                    <span class="form-text text-danger" *ngIf="campoValido('acronym')">{{nameErrorMensage}}</span>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade dark" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: #141618" >
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete {{ coin.acronym }} coin</h5>
            <button type="button" data-dismiss="modal" style="background-color: #141618; color: white;"> X </button>
        </div>
        <div class="modal-body">
            Are you sure you want to delete this coin?
        </div>
        <div class="modal-footer" >
            <button type="button" class="btn btn-outline-danger" data-dismiss="modal" (click)="deleteCoin()">Delete</button>
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>

<!--<div class="row">    <div class="col">
    <span>Form errors</span>
    <pre>{{ form.errors | json }}</pre>

    <span>Valid</span>
    <pre>{{ form.valid }}</pre>
    
    <span>Nombre</span>
    <pre>{{ form.controls['name'].errors | json }}</pre>

    <span>Username</span>
    <pre>{{ form.controls['acronym'].errors | json }}</pre>

    </div>
</div>-->
